html {
    background-color: #556270;
}
#month {
    text-align: center;
    font-size: 30px;
}

#header{
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    width: 75%;
    background: #FF6B6B;
    margin-bottom: 10px;
    border-radius: 5px;
}
h1{
    text-align: center;
    font-size: 50px;
}

#date {
    font-family: impact;
    font-size: 20px;
    margin-bottom: 0px;
}
#calendarDiv {
    margin-left: 5px;
    float: left;
    width: 80%;
    border-radius: 5px;
    background-color: #4ECDC4;
}
#calendarTable {
    margin-left: 5px;
    margin-right: 5px;
    width: 98%;
    height: 1600px;
    border-radius: 5px;
}
th {
    width: 14%;
}
td {
    vertical-align: text-top;
    height: 24%;
    border-radius: 5px;
}
#tasks {
    margin-right: 5px;
    float: right;
    width: 19%;
    height: 1683px;
    border-radius: 5px;
    background-color: #C7F464;
}