html{
	background-color: ;
}

#calendar{
	margin-left:10px;
	float:left;
	height: 500px;
	width: 80%;
	background-color: ;
}

#tasks{
	margin-right:10px;
	float:right;
	height: 500px;
	width: 15%;
	background-color: ;
}