<html>

<head>
    <link rel="stylesheet" type="text/css" href="tooMuchStyle.css"></link>
    <style>
        table,
        td {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <div id='calendar'>
        <table>
            <tr>
                <h3>{{now}}</h3>
            </tr>
            <tr>
                <th>Sunday</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
            </tr>
            {% for week in weeks %}

            <tr>
                {% for day in week %}
                <td>
                    {{day.day}} {% for e in events %} {% if e.startDate.date == day%}
                    <li>{{e.title}}</li>{%endif%} {%endfor%}

                </td>
                {%endfor%}
            </tr>
            {%endfor%}
        </table>
    </div>
    <div id='tasks'>

    </div>
</body>

</html>
