<html>

<head>
    <style>
        table,
        td {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    {%for event in events %}
    <li>{{event.title}}</li>
    {%endfor%}
    <table>
        <tr>
            <h3>{{now}}</h3>
        </tr>
        <tr>
            <th>Sunday</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
        </tr>
        {% for week in weeks %}

        <tr>
            {% for day in week %}
            <td>
                {{day.day}}

            </td>
            {%endfor%}
        </tr>
        {%endfor%}
    </table>
</body>

</html>
